<h1>Places</h1>



  <% for place in @places %>
   <div class="p-3">
    <li><a href="/places/<%= place["id"] %>" class="link-info"><%= place["name"] %></a></li>
  </div>
  <% end %>


<% if session[:user_id] %>
<div class="p-3">
  <a href="/places/new" class="link-info">New place</a>
</div>
<% end %>